body {
  color: $text-color;
  background: $main-bg;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-family: $lato;
  font-size: 14px;
  line-height: $body-line-height;
  min-height: 100vh;
}

button,
a {
  cursor: pointer;
}

input {
  font-family: $lato;
  font-size: 16px;
  color: $text-color;

  &::placeholder {
    opacity: 0.5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $gilroy;
  line-height: $heading-line-height;
  color: $heading-color;
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}

.container {
}

.logo {
  width: 83px;

  @media (min-width: $large) {
    width: 93px;
  }
}
