body {
  color: $text-color;
  background: $main-bg;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-family: $lato;
  font-size: 14px;
  line-height: $body-line-height;
  min-height: 100vh;
}

button,
a {
  cursor: pointer;
}

input {
  font-family: $lato;
  font-size: 16px;
  color: $text-color;

  &::placeholder {
    opacity: 0.5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $gilroy;
  line-height: $heading-line-height;
  color: $heading-color;
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}

.container {
  width: 375px;
  padding: 16px;
  margin: 0 auto;

  @media (min-width: $medium) {
    width: 748px;
    padding: 40px 0;
  }

  @media (min-width: $big) {
    width: 1004px;
    padding: 48px 0;
  }

  @media (min-width: $large) {
    width: 1180px;
    padding: 64px 0;
  }

  @media (min-width: $huge) {
    width: 1400px;
    padding: 115px 0;
  }
}

.logo {
  width: 83px;

  @media (min-width: $large) {
    width: 93px;
  }
}
