// color variables
$primary-color: #4c7c7d;
$secondary-color: #e45959;
$text-color: #383634;
$heading-color: #383634;
$white: #fff;
$black: #000;
$main-bg: linear-gradient(
    325.65deg,
    rgba(237, 234, 231, 0.5) 0%,
    rgba(252, 250, 249, 0.5) 100%
  ),
  #f5f3f1;
$light-bg: #f5f3f1;
$dark-bg: #edeae7;
$dark-border: rgba(56, 54, 52, 0.3);
$light-border: #edeae7;
$lightest-border: rgba(56, 54, 52, 0.1);
$backdrop: rgba(56, 54, 52, 0.15);

//animation variables
$transitions: 300ms cubic-bezier(0.87, 0, 0.13, 1);

//order-radius variables
$small-radius: 10px;
$medium-radius: 16px;
$big-radius: 20px;
$large-radius: 24px;
$rounded-radius: 50%;

//letter-spacing variables
$body-spacing: normal;
$heading-spacing: 0.02em;

//line-heights variables
$body-line-height: 1.555;
$text-line-height: 1.286;
$heading-line-height: 1.2;
$input-line-height: 1.25;
$btn-line-height: 1.125;

//breakpoints
$small: 375px;
$medium: 768px;
$big: 1024px;
$large: 1200px;
$huge: 1440px;

//fonts
$lato: var(--font-lato);
$rubik: var(--font-rubik);
$gilroy: var(--font-gilroy);
