@import '../../../styles/variables';
.buttons {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: block;
  width: 150px;
  font-size: 14px;
  border: 1px solid;
}

.homeBtn {
  @extend .btn;
  background-color: $secondary-color;
  color: $white;
  border-color: transparent;

  &:hover {
    color: $secondary-color;
    background-color: $white;
    border-color: $secondary-color;
  }
}

.reportBtn {
  @extend .btn;
  color: $secondary-color;
  background-color: $white;
  border-color: $secondary-color;

  &:hover {
    background-color: $secondary-color;
    color: $white;
    border-color: transparent;
  }
}
